<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574478962677-hkbh7gqjb1qp9lbjrtssam2r4jk3q6pr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574478962677-hkbh7gqjb1qp9lbjrtssam2r4jk3q6pr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>574478962677-b773no5cjrnbhequmntnmoc4g8r4tqbk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDW9XQTwnFvCyVjD-2oEBq8DP18cQ1xTP4</string>
	<key>GCM_SENDER_ID</key>
	<string>574478962677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codegaun.nafausa</string>
	<key>PROJECT_ID</key>
	<string>nafusa-7b37f</string>
	<key>STORAGE_BUCKET</key>
	<string>nafusa-7b37f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574478962677:ios:db8cb56fa7cc06cfef9abc</string>
</dict>
</plist>